## Original Dataset
This is how the original data looks like before feature cleaning and engineering process

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(filepath_or_buffer = '../data/2008.csv')

Departure Time and Arrival Time are in HHMM format

In [3]:
df.loc[:, ['CRSDepTime', 'CRSArrTime']]

         CRSDepTime  CRSArrTime
0              1955        2225
1               735        1000
2               620         750
3               930        1100
4              1755        1925
5              1915        2110
6              1830        1940
7              1040        1150
8               615         650
9              1620        1655
10              700         915
11             1510        1725
12             1430        1425
13              715         710
14             1700        1655
15             1020        1010
16             1425        1625
17              745         955
18             1255        1510
19             1325        1435
20              705         810
21             1625        1735
22             1840        1950
23             1030        1140
24              800         910
25             1455        1605
26             1255        1610
27             1925        2235
28              635         945
29              730        1020
...             ...         ...
7009698        1635        1758
7009699        1221        1359
7009700        1845        2006
7009701        1500        1642
7009702        1522        1823
7009703        1910        2016
7009704        1445        1622
7009705         830        1008
7009706        1440        1704
7009707        1755        2015
7009708         710         837
7009709        1520        1718
7009710        1220        1552
7009711        1041        1303
7009712         843        1021
7009713         815        1526
7009714         545         650
7009715         850        1005
7009716         936        1119
7009717         600         749
7009718         847        1010
7009719         640         753
7009720         800        1026
7009721         615         907
7009722         750         859
7009723         959        1150
7009724         835        1023
7009725         700         856
7009726        1240        1437
7009727        1103        1418

[7009728 rows x 2 columns]

In [4]:
df.columns

Index([u'Year', u'Month', u'DayofMonth', u'DayOfWeek', u'DepTime',
       u'CRSDepTime', u'ArrTime', u'CRSArrTime', u'UniqueCarrier',
       u'FlightNum', u'TailNum', u'ActualElapsedTime', u'CRSElapsedTime',
       u'AirTime', u'ArrDelay', u'DepDelay', u'Origin', u'Dest', u'Distance',
       u'TaxiIn', u'TaxiOut', u'Cancelled', u'CancellationCode', u'Diverted',
       u'CarrierDelay', u'WeatherDelay', u'NASDelay', u'SecurityDelay',
       u'LateAircraftDelay'],
      dtype='object')

In [10]:
df['DayOfWeek']

0          4
1          4
2          4
3          4
4          4
5          4
6          4
7          4
8          4
9          4
10         4
11         4
12         4
13         4
14         4
15         4
16         4
17         4
18         4
19         4
20         4
21         4
22         4
23         4
24         4
25         4
26         4
27         4
28         4
29         4
          ..
7009698    6
7009699    6
7009700    6
7009701    6
7009702    6
7009703    6
7009704    6
7009705    6
7009706    6
7009707    6
7009708    6
7009709    6
7009710    6
7009711    6
7009712    6
7009713    6
7009714    6
7009715    6
7009716    6
7009717    6
7009718    6
7009719    6
7009720    6
7009721    6
7009722    6
7009723    6
7009724    6
7009725    6
7009726    6
7009727    6
Name: DayOfWeek, Length: 7009728, dtype: int64

In [5]:
df['UniqueCarrier']

0          WN
1          WN
2          WN
3          WN
4          WN
5          WN
6          WN
7          WN
8          WN
9          WN
10         WN
11         WN
12         WN
13         WN
14         WN
15         WN
16         WN
17         WN
18         WN
19         WN
20         WN
21         WN
22         WN
23         WN
24         WN
25         WN
26         WN
27         WN
28         WN
29         WN
           ..
7009698    DL
7009699    DL
7009700    DL
7009701    DL
7009702    DL
7009703    DL
7009704    DL
7009705    DL
7009706    DL
7009707    DL
7009708    DL
7009709    DL
7009710    DL
7009711    DL
7009712    DL
7009713    DL
7009714    DL
7009715    DL
7009716    DL
7009717    DL
7009718    DL
7009719    DL
7009720    DL
7009721    DL
7009722    DL
7009723    DL
7009724    DL
7009725    DL
7009726    DL
7009727    DL
Name: UniqueCarrier, Length: 7009728, dtype: object

In [6]:
df['Dest']

0          TPA
1          TPA
2          BWI
3          BWI
4          BWI
5          JAX
6          LAS
7          LAS
8          MCI
9          MCI
10         MCO
11         MCO
12         MDW
13         MDW
14         MDW
15         MDW
16         PHX
17         PHX
18         TPA
19         BWI
20         BWI
21         BWI
22         BWI
23         BWI
24         BWI
25         BWI
26         FLL
27         FLL
28         FLL
29         LAS
          ...
7009698    ATL
7009699    ATL
7009700    SDF
7009701    PHX
7009702    ATL
7009703    CHS
7009704    ATL
7009705    PBI
7009706    ATL
7009707    BDL
7009708    ATL
7009709    ATL
7009710    ATL
7009711    ATL
7009712    DEN
7009713    CVG
7009714    ATL
7009715    MCI
7009716    RSW
7009717    ATL
7009718    IAH
7009719    ATL
7009720    ATL
7009721    SLC
7009722    ATL
7009723    IAD
7009724    SAT
7009725    ATL
7009726    ATL
7009727    ATL
Name: Dest, Length: 7009728, dtype: object

In [7]:
df['Origin']

0          IAD
1          IAD
2          IND
3          IND
4          IND
5          IND
6          IND
7          IND
8          IND
9          IND
10         IND
11         IND
12         IND
13         IND
14         IND
15         IND
16         IND
17         IND
18         IND
19         ISP
20         ISP
21         ISP
22         ISP
23         ISP
24         ISP
25         ISP
26         ISP
27         ISP
28         ISP
29         ISP
          ...
7009698    CLT
7009699    IND
7009700    ATL
7009701    SLC
7009702    MCI
7009703    ATL
7009704    IND
7009705    ATL
7009706    MSY
7009707    ATL
7009708    LEX
7009709    HSV
7009710    MSP
7009711    MSY
7009712    SLC
7009713    LAX
7009714    SAV
7009715    ATL
7009716    ATL
7009717    RIC
7009718    ATL
7009719    JAX
7009720    MSY
7009721    GEG
7009722    SAV
7009723    ATL
7009724    ATL
7009725    PBI
7009726    IAD
7009727    SAT
Name: Origin, Length: 7009728, dtype: object

### Checking the filling factor for each of the columns

In [8]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['variable', 'missing values']
missing_df['filling factor (%)']=(df.shape[0]-missing_df['missing values'])/df.shape[0]*100
missing_df.sort_values('filling factor (%)').reset_index(drop = True)

             variable  missing values  filling factor (%)
0    CancellationCode         6872294            1.960618
1   LateAircraftDelay         5484993           21.751700
2            NASDelay         5484993           21.751700
3        WeatherDelay         5484993           21.751700
4        CarrierDelay         5484993           21.751700
5       SecurityDelay         5484993           21.751700
6             AirTime          154699           97.793081
7   ActualElapsedTime          154699           97.793081
8            ArrDelay          154699           97.793081
9             ArrTime          151649           97.836592
10             TaxiIn          151649           97.836592
11            TaxiOut          137058           98.044746
12           DepDelay          136246           98.056330
13            DepTime          136246           98.056330
14            TailNum           83365           98.810724
15     CRSElapsedTime             844           99.987960
16          FlightNum               0          100.000000
17              Month               0          100.000000
18         DayofMonth               0          100.000000
19          DayOfWeek               0          100.000000
20           Diverted               0          100.000000
21           Distance               0          100.000000
22      UniqueCarrier               0          100.000000
23               Dest               0          100.000000
24             Origin               0          100.000000
25         CRSDepTime               0          100.000000
26         CRSArrTime               0          100.000000
27          Cancelled               0          100.000000
28               Year               0          100.000000

In [9]:
df['ArrDelay']

0         -14.0
1           2.0
2          14.0
3          -6.0
4          34.0
5          11.0
6          57.0
7         -18.0
8           2.0
9         -16.0
10          1.0
11         80.0
12          1.0
13         10.0
14         -4.0
15         11.0
16         15.0
17        -15.0
18         16.0
19         37.0
20         -3.0
21         19.0
22          6.0
23         -7.0
24         -8.0
25         14.0
26         47.0
27          4.0
28        -24.0
29        -22.0
           ...
7009698   -14.0
7009699    21.0
7009700   -13.0
7009701    38.0
7009702    -1.0
7009703     1.0
7009704   -18.0
7009705    64.0
7009706    -3.0
7009707    -5.0
7009708    13.0
7009709    17.0
7009710    25.0
7009711    -8.0
7009712     4.0
7009713   -22.0
7009714    -4.0
7009715    19.0
7009716    -5.0
7009717    75.0
7009718    99.0
7009719    15.0
7009720     6.0
7009721    16.0
7009722     2.0
7009723    14.0
7009724    -2.0
7009725     0.0
7009726     9.0
7009727    -5.0
Name: ArrDelay, Length: 7009728, dtype: float64