In [1]:
import pandas as pd
import numpy as np
import datetime, warnings, scipy
import seaborn as sns

In [2]:
df1 = pd.read_csv(filepath_or_buffer = '../data/2008.csv')

In [3]:
df1.loc[:, "CRSDepTime"]

0          1955
1           735
2           620
3           930
4          1755
5          1915
6          1830
7          1040
8           615
9          1620
10          700
11         1510
12         1430
13          715
14         1700
15         1020
16         1425
17          745
18         1255
19         1325
20          705
21         1625
22         1840
23         1030
24          800
25         1455
26         1255
27         1925
28          635
29          730
           ...
7009698    1635
7009699    1221
7009700    1845
7009701    1500
7009702    1522
7009703    1910
7009704    1445
7009705     830
7009706    1440
7009707    1755
7009708     710
7009709    1520
7009710    1220
7009711    1041
7009712     843
7009713     815
7009714     545
7009715     850
7009716     936
7009717     600
7009718     847
7009719     640
7009720     800
7009721     615
7009722     750
7009723     959
7009724     835
7009725     700
7009726    1240
7009727    1103
Name: CRSDepTime, Length: 7009728, dtype: int64

In [4]:
#Convert the HHMM format to HH:MM format
def format_hour(hm):
    if pd.isnull(hm):
        return np.nan
    else:
        if hm == 2400: hm = 0
        hm = "{0:04d}".format(int(hm))
        newHM = datetime.time(int(hm[0:2]), int(hm[2:4]))
        return newHM

In [5]:
df1['CRSDepTime'] = df1['CRSDepTime'].apply(format_hour)

In [12]:
df1['CRSDepTime']

0          19:55:00
1          07:35:00
2          06:20:00
3          09:30:00
4          17:55:00
5          19:15:00
6          18:30:00
7          10:40:00
8          06:15:00
9          16:20:00
10         07:00:00
11         15:10:00
12         14:30:00
13         07:15:00
14         17:00:00
15         10:20:00
16         14:25:00
17         07:45:00
18         12:55:00
19         13:25:00
20         07:05:00
21         16:25:00
22         18:40:00
23         10:30:00
24         08:00:00
25         14:55:00
26         12:55:00
27         19:25:00
28         06:35:00
29         07:30:00
             ...
7009698    16:35:00
7009699    12:21:00
7009700    18:45:00
7009701    15:00:00
7009702    15:22:00
7009703    19:10:00
7009704    14:45:00
7009705    08:30:00
7009706    14:40:00
7009707    17:55:00
7009708    07:10:00
7009709    15:20:00
7009710    12:20:00
7009711    10:41:00
7009712    08:43:00
7009713    08:15:00
7009714    05:45:00
7009715    08:50:00
7009716    09:36:00
7009717    06:00:00
7009718    08:47:00
7009719    06:40:00
7009720    08:00:00
7009721    06:15:00
7009722    07:50:00
7009723    09:59:00
7009724    08:35:00
7009725    07:00:00
7009726    12:40:00
7009727    11:03:00
Name: CRSDepTime, Length: 7009728, dtype: object

Apply the same formart for Arrival Time

In [6]:
df1.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009728.0,7.009728e+06,7.009728e+06,7.009728e+06,6.873482e+06,6.858079e+06,7.009728e+06,7.009728e+06,6.855029e+06,7.008884e+06,...,7.009728e+06,6.858079e+06,6.872670e+06,7.009728e+06,7.009728e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06
mean,2008.0,6.375130e+00,1.572801e+01,3.924182e+00,1.333830e+03,1.481258e+03,1.494801e+03,2.224200e+03,1.273224e+02,1.288668e+02,...,7.263870e+02,6.860852e+00,1.645305e+01,1.960618e-02,2.463006e-03,1.577206e+01,3.039031e+00,1.716462e+01,7.497434e-02,2.077098e+01
std,0.0,3.406737e+00,8.797068e+00,1.988259e+00,4.780689e+02,5.052251e+02,4.826728e+02,1.961716e+03,7.018731e+01,6.940974e+01,...,5.621018e+02,4.933649e+00,1.133280e+01,1.386426e-01,4.956753e-02,4.009912e+01,1.950287e+01,3.189495e+01,1.837940e+00,3.925964e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,-1.410000e+02,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,1.107000e+03,1.115000e+03,6.220000e+02,7.700000e+01,8.000000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.512000e+03,1.517000e+03,1.571000e+03,1.100000e+02,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.909000e+03,1.907000e+03,3.518000e+03,1.570000e+02,1.590000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,1.435000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [12]:
df1['CRSArrTime'] = df1['CRSArrTime'].apply(format_hour)
df1['CRSArrTime']

0          22:25:00
1          10:00:00
2          07:50:00
3          11:00:00
4          19:25:00
5          21:10:00
6          19:40:00
7          11:50:00
8          06:50:00
9          16:55:00
10         09:15:00
11         17:25:00
12         14:25:00
13         07:10:00
14         16:55:00
15         10:10:00
16         16:25:00
17         09:55:00
18         15:10:00
19         14:35:00
20         08:10:00
21         17:35:00
22         19:50:00
23         11:40:00
24         09:10:00
25         16:05:00
26         16:10:00
27         22:35:00
28         09:45:00
29         10:20:00
             ...
7009698    17:58:00
7009699    13:59:00
7009700    20:06:00
7009701    16:42:00
7009702    18:23:00
7009703    20:16:00
7009704    16:22:00
7009705    10:08:00
7009706    17:04:00
7009707    20:15:00
7009708    08:37:00
7009709    17:18:00
7009710    15:52:00
7009711    13:03:00
7009712    10:21:00
7009713    15:26:00
7009714    06:50:00
7009715    10:05:00
7009716    11:19:00
7009717    07:49:00
7009718    10:10:00
7009719    07:53:00
7009720    10:26:00
7009721    09:07:00
7009722    08:59:00
7009723    11:50:00
7009724    10:23:00
7009725    08:56:00
7009726    14:37:00
7009727    14:18:00
Name: CRSArrTime, Length: 7009728, dtype: object

## Putting Departure Time and Arrival Time togerther

In [13]:
df1.loc[:, ['CRSDepTime', 'CRSArrTime']]

        CRSDepTime CRSArrTime
0         19:55:00   22:25:00
1         07:35:00   10:00:00
2         06:20:00   07:50:00
3         09:30:00   11:00:00
4         17:55:00   19:25:00
5         19:15:00   21:10:00
6         18:30:00   19:40:00
7         10:40:00   11:50:00
8         06:15:00   06:50:00
9         16:20:00   16:55:00
10        07:00:00   09:15:00
11        15:10:00   17:25:00
12        14:30:00   14:25:00
13        07:15:00   07:10:00
14        17:00:00   16:55:00
15        10:20:00   10:10:00
16        14:25:00   16:25:00
17        07:45:00   09:55:00
18        12:55:00   15:10:00
19        13:25:00   14:35:00
20        07:05:00   08:10:00
21        16:25:00   17:35:00
22        18:40:00   19:50:00
23        10:30:00   11:40:00
24        08:00:00   09:10:00
25        14:55:00   16:05:00
26        12:55:00   16:10:00
27        19:25:00   22:35:00
28        06:35:00   09:45:00
29        07:30:00   10:20:00
...            ...        ...
7009698   16:35:00   17:58:00
7009699   12:21:00   13:59:00
7009700   18:45:00   20:06:00
7009701   15:00:00   16:42:00
7009702   15:22:00   18:23:00
7009703   19:10:00   20:16:00
7009704   14:45:00   16:22:00
7009705   08:30:00   10:08:00
7009706   14:40:00   17:04:00
7009707   17:55:00   20:15:00
7009708   07:10:00   08:37:00
7009709   15:20:00   17:18:00
7009710   12:20:00   15:52:00
7009711   10:41:00   13:03:00
7009712   08:43:00   10:21:00
7009713   08:15:00   15:26:00
7009714   05:45:00   06:50:00
7009715   08:50:00   10:05:00
7009716   09:36:00   11:19:00
7009717   06:00:00   07:49:00
7009718   08:47:00   10:10:00
7009719   06:40:00   07:53:00
7009720   08:00:00   10:26:00
7009721   06:15:00   09:07:00
7009722   07:50:00   08:59:00
7009723   09:59:00   11:50:00
7009724   08:35:00   10:23:00
7009725   07:00:00   08:56:00
7009726   12:40:00   14:37:00
7009727   11:03:00   14:18:00

[7009728 rows x 2 columns]