In [1]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer = '2006.csv')

In [10]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
5,2006,1,11,3,627.0,630,834.0,832,US,295,...,6,13,0,NaN,0,0,0,0,0,0
6,2006,1,11,3,825.0,820,1041.0,1021,US,349,...,4,21,0,NaN,0,0,0,20,0,0
7,2006,1,11,3,942.0,945,1155.0,1148,US,356,...,4,8,0,NaN,0,0,0,0,0,0
8,2006,1,11,3,1239.0,1245,1438.0,1445,US,775,...,4,12,0,NaN,0,0,0,0,0,0
9,2006,1,11,3,1642.0,1645,1841.0,1845,US,1002,...,4,10,0,NaN,0,0,0,0,0,0
10,2006,1,11,3,1836.0,1835,NaN,2035,US,1103,...,0,17,0,NaN,1,0,0,0,0,0
11,2006,1,11,3,NaN,1725,NaN,1845,US,69,...,0,0,1,A,0,0,0,0,0,0
12,2006,1,11,3,613.0,620,738.0,743,US,1159,...,4,12,0,NaN,0,0,0,0,0,0
13,2006,1,11,3,1125.0,1125,1242.0,1245,US,1249,...,3,6,0,NaN,0,0,0,0,0,0
14,2006,1,11,3,2045.0,2045,2205.0,2200,US,1680,...,14,8,0,NaN,0,0,0,0,0,0
15,2006,1,11,3,1342.0,1340,1509.0,1455,US,1681,...,4,10,0,NaN,0,0,0,0,0,0
16,2006,1,11,3,1752.0,1540,1923.0,1654,US,127,...,3,19,0,NaN,0,0,0,149,0,0
17,2006,1,11,3,724.0,730,843.0,845,US,277,...,17,8,0,NaN,0,0,0,0,0,0
18,2006,1,11,3,1153.0,1145,1324.0,1259,US,637,...,3,38,0,NaN,0,0,0,25,0,0
19,2006,1,11,3,528.0,525,640.0,640,US,1658,...,10,10,0,NaN,0,0,0,0,0,0
20,2006,1,11,3,630.0,630,950.0,1021,US,419,...,19,14,0,NaN,0,0,0,0,0,0
21,2006,1,11,3,1515.0,1520,1651.0,1650,US,1607,...,5,14,0,NaN,0,0,0,0,0,0
22,2006,1,11,3,557.0,605,805.0,818,US,78,...,5,11,0,NaN,0,0,0,0,0,0
23,2006,1,11,3,806.0,810,1035.0,1020,US,218,...,8,13,0,NaN,0,0,0,15,0,0
24,2006,1,11,3,1828.0,1830,2035.0,2041,US,918,...,6,9,0,NaN,0,0,0,0,0,0
25,2006,1,11,3,910.0,640,NaN,915,US,1650,...,0,12,0,NaN,1,0,0,0,0,0
26,2006,1,11,3,725.0,725,1015.0,1021,US,1636,...,9,9,0,NaN,0,0,0,0,0,0
27,2006,1,11,3,1555.0,1600,1751.0,1806,US,678,...,5,10,0,NaN,0,0,0,0,0,0
28,2006,1,11,3,657.0,700,902.0,905,US,856,...,6,20,0,NaN,0,0,0,0,0,0
29,2006,1,11,3,1056.0,1100,1329.0,1317,US,53,...,12,14,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141892,2006,12,29,5,656.0,700,838.0,935,DL,1647,...,6,10,0,NaN,0,0,0,0,0,0
7141893,2006,12,29,5,1029.0,1033,1221.0,1209,DL,1647,...,10,30,0,NaN,0,0,0,0,0,0
7141894,2006,12,29,5,1325.0,1334,2118.0,2106,DL,1648,...,18,17,0,NaN,0,0,0,0,0,0
7141895,2006,12,29,5,2243.0,2245,25.0,27,DL,1648,...,4,14,0,NaN,0,0,0,0,0,0
7141896,2006,12,29,5,1652.0,1657,1958.0,1956,DL,1649,...,9,17,0,NaN,0,0,0,0,0,0
7141897,2006,12,29,5,2135.0,2140,2240.0,2257,DL,1650,...,5,19,0,NaN,0,0,0,0,0,0
7141898,2006,12,29,5,2005.0,1840,NaN,1959,DL,1651,...,0,22,0,NaN,1,0,0,0,0,0
7141899,2006,12,29,5,704.0,705,910.0,906,DL,1653,...,19,15,0,NaN,0,0,0,0,0,0
7141900,2006,12,29,5,956.0,1001,1244.0,1255,DL,1654,...,6,11,0,NaN,0,0,0,0,0,0
7141901,2006,12,29,5,1352.0,1356,1444.0,1453,DL,1654,...,4,11,0,NaN,0,0,0,0,0,0
7141902,2006,12,29,5,700.0,700,1017.0,1005,DL,1655,...,23,19,0,NaN,0,0,0,0,0,0
7141903,2006,12,29,5,1115.0,1100,1242.0,1231,DL,1655,...,6,22,0,NaN,0,0,0,0,0,0
7141904,2006,12,29,5,2010.0,2010,11.0,2345,DL,1656,...,5,86,0,NaN,0,0,0,26,0,0
7141905,2006,12,29,5,1158.0,1205,1305.0,1311,DL,1657,...,5,11,0,NaN,0,0,0,0,0,0
7141906,2006,12,29,5,1846.0,1818,2037.0,2012,DL,1658,...,12,14,0,NaN,0,0,0,0,0,25
7141907,2006,12,29,5,2122.0,2105,2317.0,2244,DL,1658,...,65,11,0,NaN,0,17,0,16,0,0
7141908,2006,12,29,5,2258.0,2300,641.0,613,DL,1660,...,6,13,0,NaN,0,0,0,28,0,0
7141909,2006,12,29,5,805.0,810,1020.0,1007,DL,1663,...,14,20,0,NaN,0,0,0,0,0,0
7141910,2006,12,29,5,1138.0,1130,1404.0,1400,DL,1663,...,5,18,0,NaN,0,0,0,0,0,0
7141911,2006,12,29,5,1803.0,1804,2023.0,2019,DL,1669,...,17,20,0,NaN,0,0,0,0,0,0
7141912,2006,12,29,5,1511.0,1514,1702.0,1715,DL,1670,...,8,13,0,NaN,0,0,0,0,0,0
7141913,2006,12,29,5,1314.0,1322,2223.0,2156,DL,1671,...,35,23,0,NaN,0,0,0,27,0,0
7141914,2006,12,29,5,1950.0,1940,2234.0,2234,DL,1672,...,7,14,0,NaN,0,0,0,0,0,0
7141915,2006,12,29,5,1726.0,1730,1854.0,1859,DL,1673,...,10,10,0,NaN,0,0,0,0,0,0
7141916,2006,12,29,5,1151.0,1156,1706.0,1659,DL,1674,...,25,15,0,NaN,0,0,0,0,0,0
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,...,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,...,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,...,5,15,0,NaN,0,0,0,0,0,0

In [2]:
df1 = pd.read_csv(filepath_or_buffer = '2008.csv')

In [14]:
df1.loc[:, "FlightStatus"]

KeyError: 'the label [FlightStatus] is not in the [columns]'

In [5]:
df.loc[df['column_name'] == Carrier]

KeyError: 'column_name'

In [13]:
df2 = pd.read_csv(filepath_or_buffer = '2007.csv')

In [14]:
df2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2007,1,1,1,1232.0,1225,1341.0,1340,WN,2891,...,4,11,0,NaN,0,0,0,0,0,0
1,2007,1,1,1,1918.0,1905,2043.0,2035,WN,462,...,5,6,0,NaN,0,0,0,0,0,0
2,2007,1,1,1,2206.0,2130,2334.0,2300,WN,1229,...,6,9,0,NaN,0,3,0,0,0,31
3,2007,1,1,1,1230.0,1200,1356.0,1330,WN,1355,...,3,8,0,NaN,0,23,0,0,0,3
4,2007,1,1,1,831.0,830,957.0,1000,WN,2278,...,3,9,0,NaN,0,0,0,0,0,0
5,2007,1,1,1,1430.0,1420,1553.0,1550,WN,2386,...,2,7,0,NaN,0,0,0,0,0,0
6,2007,1,1,1,1936.0,1840,2217.0,2130,WN,409,...,5,7,0,NaN,0,46,0,0,0,1
7,2007,1,1,1,944.0,935,1223.0,1225,WN,1131,...,4,9,0,NaN,0,0,0,0,0,0
8,2007,1,1,1,1537.0,1450,1819.0,1735,WN,1212,...,5,7,0,NaN,0,20,0,0,0,24
9,2007,1,1,1,1318.0,1315,1603.0,1610,WN,2456,...,5,8,0,NaN,0,0,0,0,0,0
10,2007,1,1,1,836.0,835,1119.0,1130,WN,2575,...,7,8,0,NaN,0,0,0,0,0,0
11,2007,1,1,1,2047.0,1955,2332.0,2240,WN,2608,...,7,9,0,NaN,0,49,0,0,0,3
12,2007,1,1,1,2128.0,2035,2245.0,2200,WN,139,...,3,8,0,NaN,0,0,0,3,0,42
13,2007,1,1,1,935.0,940,1048.0,1105,WN,747,...,2,8,0,NaN,0,0,0,0,0,0
14,2007,1,1,1,1251.0,1245,1405.0,1410,WN,933,...,2,7,0,NaN,0,0,0,0,0,0
15,2007,1,1,1,1729.0,1645,1843.0,1810,WN,1054,...,3,7,0,NaN,0,3,0,0,0,30
16,2007,1,1,1,825.0,825,941.0,950,WN,1106,...,3,10,0,NaN,0,0,0,0,0,0
17,2007,1,1,1,1042.0,1040,1158.0,1205,WN,1554,...,2,8,0,NaN,0,0,0,0,0,0
18,2007,1,1,1,1726.0,1725,1839.0,1850,WN,1604,...,3,7,0,NaN,0,0,0,0,0,0
19,2007,1,1,1,1849.0,1820,2016.0,1940,WN,1975,...,3,15,0,NaN,0,20,0,7,0,9
20,2007,1,1,1,2219.0,2105,2332.0,2225,WN,2083,...,3,8,0,NaN,0,0,0,0,0,67
21,2007,1,1,1,2012.0,1940,2131.0,2105,WN,2577,...,3,10,0,NaN,0,9,0,0,0,17
22,2007,1,1,1,1458.0,1455,1614.0,1620,WN,2587,...,2,9,0,NaN,0,0,0,0,0,0
23,2007,1,1,1,1345.0,1345,1456.0,1510,WN,2643,...,2,7,0,NaN,0,0,0,0,0,0
24,2007,1,1,1,715.0,720,836.0,845,WN,2755,...,2,14,0,NaN,0,0,0,0,0,0
25,2007,1,1,1,2119.0,2100,2310.0,2250,WN,961,...,9,8,0,NaN,0,19,0,1,0,0
26,2007,1,1,1,1530.0,1510,1714.0,1700,WN,1330,...,5,8,0,NaN,0,0,0,0,0,0
27,2007,1,1,1,1045.0,1035,1240.0,1225,WN,1502,...,5,6,0,NaN,0,6,0,5,0,4
28,2007,1,1,1,802.0,800,953.0,955,WN,2403,...,5,8,0,NaN,0,0,0,0,0,0
29,2007,1,1,1,1415.0,1405,1529.0,1525,WN,976,...,4,6,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453185,2007,12,15,6,856.0,900,1602.0,1610,DL,12,...,17,14,0,NaN,0,0,0,0,0,0
7453186,2007,12,15,6,753.0,750,1317.0,1323,DL,14,...,9,17,0,NaN,0,0,0,0,0,0
7453187,2007,12,15,6,1931.0,1915,2054.0,2042,DL,15,...,5,16,0,NaN,0,0,0,0,0,0
7453188,2007,12,15,6,1646.0,1650,1938.0,1920,DL,16,...,46,28,0,NaN,0,0,0,18,0,0
7453189,2007,12,15,6,918.0,850,1151.0,1140,DL,17,...,6,26,0,NaN,0,0,0,0,0,0
7453190,2007,12,15,6,1614.0,1436,1902.0,1609,DL,20,...,11,60,0,NaN,0,0,0,75,0,98
7453191,2007,12,15,6,753.0,800,1454.0,1447,DL,22,...,14,22,0,NaN,0,0,0,0,0,0
7453192,2007,12,15,6,1608.0,1520,1742.0,1706,DL,25,...,4,23,0,NaN,0,0,0,0,0,36
7453193,2007,12,15,6,1711.0,1645,2005.0,1900,DL,27,...,7,56,0,NaN,0,0,26,39,0,0
7453194,2007,12,15,6,1158.0,1200,1328.0,1326,DL,28,...,12,10,0,NaN,0,0,0,0,0,0
7453195,2007,12,15,6,704.0,700,1514.0,1521,DL,30,...,8,21,0,NaN,0,0,0,0,0,0
7453196,2007,12,15,6,1632.0,1620,2015.0,1955,DL,31,...,8,54,0,NaN,0,5,0,8,0,7
7453197,2007,12,15,6,1318.0,1305,1505.0,1432,DL,34,...,12,19,0,NaN,0,9,0,20,0,4
7453198,2007,12,15,6,1212.0,1134,1934.0,1854,DL,36,...,7,17,0,NaN,0,0,0,2,0,38
7453199,2007,12,15,6,NaN,1705,NaN,1903,DL,37,...,0,0,1,B,0,0,0,0,0,0
7453200,2007,12,15,6,1102.0,1050,1549.0,1542,DL,38,...,11,15,0,NaN,0,0,0,0,0,0
7453201,2007,12,15,6,1844.0,1800,2010.0,1922,DL,39,...,8,25,0,NaN,0,0,44,4,0,0
7453202,2007,12,15,6,1445.0,1445,1723.0,1642,DL,40,...,11,25,0,NaN,0,0,0,41,0,0
7453203,2007,12,15,6,1849.0,1850,2054.0,2053,DL,41,...,7,29,0,NaN,0,0,0,0,0,0
7453204,2007,12,15,6,1158.0,1143,1932.0,1855,DL,44,...,7,45,0,NaN,0,0,0,22,0,15
7453205,2007,12,15,6,612.0,615,1342.0,1348,DL,46,...,11,21,0,NaN,0,0,0,0,0,0
7453206,2007,12,15,6,1940.0,1855,2153.0,2129,DL,47,...,10,12,0,NaN,0,0,24,0,0,0
7453207,2007,12,15,6,1341.0,1335,1856.0,1855,DL,48,...,8,13,0,NaN,0,0,0,0,0,0
7453208,2007,12,15,6,1646.0,1645,1827.0,1836,DL,49,...,6,13,0,NaN,0,0,0,0,0,0
7453209,2007,12,15,6,729.0,730,918.0,909,DL,55,...,13,16,0,NaN,0,0,0,0,0,0
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [15]:
df3 = pd.read_csv(filepath_or_buffer = '2005.csv')

In [17]:
df3.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7140596.0,7.140596e+06,7.140596e+06,7.140596e+06,7.006866e+06,7.140596e+06,6.992838e+06,7.140596e+06,7.140596e+06,6.992838e+06,...,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06,7.140596e+06
mean,2005.0,6.481160e+00,1.571931e+01,3.944549e+00,1.344534e+03,1.337973e+03,1.491418e+03,1.499840e+03,2.042659e+03,1.247300e+02,...,7.237402e+02,7.568509e+00,1.543314e+01,1.872813e-02,1.964542e-03,3.002814e+00,6.601396e-01,3.367534e+00,1.975255e-02,3.663225e+00
std,0.0,3.410521e+00,8.785960e+00,1.989965e+00,4.767736e+02,4.642816e+02,5.001774e+02,4.804065e+02,1.841605e+03,7.080379e+01,...,5.711465e+02,4.385352e+01,1.074996e+01,1.355632e-01,4.427960e-02,1.764926e+01,8.321394e+00,1.482011e+01,1.023661e+00,1.744618e+01
min,2005.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-6.600000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.900000e+01,0.000000e+00,0.000000e+00
25%,2005.0,4.000000e+00,8.000000e+00,2.000000e+00,9.330000e+02,9.300000e+02,1.113000e+03,1.120000e+03,5.840000e+02,7.400000e+01,...,3.160000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2005.0,6.000000e+00,1.600000e+01,4.000000e+00,1.331000e+03,1.328000e+03,1.519000e+03,1.523000e+03,1.446000e+03,1.050000e+02,...,5.620000e+02,5.000000e+00,1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2005.0,9.000000e+00,2.300000e+01,6.000000e+00,1.735000e+03,1.725000e+03,1.915000e+03,1.912000e+03,3.172000e+03,1.550000e+02,...,9.500000e+02,7.000000e+00,1.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2005.0,1.200000e+01,3.100000e+01,7.000000e+00,2.805000e+03,2.359000e+03,2.923000e+03,2.359000e+03,9.584000e+03,1.849000e+03,...,4.962000e+03,1.523000e+03,1.339000e+03,1.000000e+00,1.000000e+00,1.925000e+03,1.510000e+03,1.368000e+03,3.260000e+02,1.358000e+03

In [18]:
df3.describe

<bound method DataFrame.describe of          Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  \
0        2005      1          28          5   1603.0        1605   1741.0
1        2005      1          29          6   1559.0        1605   1736.0
2        2005      1          30          7   1603.0        1610   1741.0
3        2005      1          31          1   1556.0        1605   1726.0
4        2005      1           2          7   1934.0        1900   2235.0
5        2005      1           3          1   2042.0        1900      9.0
6        2005      1           4          2   2046.0        1900   2357.0
7        2005      1           5          3      NaN        1900      NaN
8        2005      1           6          4   2110.0        1900      8.0
9        2005      1           7          5   1859.0        1900   2235.0
10       2005      1           9          7   1859.0        1900   2205.0
11       2005      1          10          1   1917.0        1900   2240.0
12       2005      1          11          2   1935.0        1900   2259.0
13       2005      1          12          3   2038.0        1900     18.0
14       2005      1          13          4   2106.0        1900      9.0
15       2005      1          14          5   1919.0        1900   2228.0
16       2005      1          16          7   1911.0        1900      NaN
17       2005      1          17          1   1859.0        1900   2202.0
18       2005      1          18          2   1856.0        1900   2227.0
19       2005      1          19          3   1939.0        1900   2348.0
20       2005      1          20          4   2128.0        1900     41.0
21       2005      1          21          5   1913.0        1900   2226.0
22       2005      1          23          7      NaN        1900      NaN
23       2005      1          24          1      NaN        1900      NaN
24       2005      1          25          2   1849.0        1900   2200.0
25       2005      1          26          3      NaN        1900      NaN
26       2005      1          27          4   1859.0        1900   2215.0
27       2005      1          28          5   1855.0        1900   2218.0
28       2005      1          30          7   1858.0        1900   2212.0
29       2005      1          31          1   1858.0        1900   2215.0
...       ...    ...         ...        ...      ...         ...      ...
7140566  2005     12          22          4   1507.0        1445   1803.0
7140567  2005     12          22          4   1652.0        1655   1808.0
7140568  2005     12          22          4    828.0         830   1055.0
7140569  2005     12          22          4   1310.0        1310   1618.0
7140570  2005     12          22          4   1747.0        1721   2020.0
7140571  2005     12          22          4   2146.0        2147   2301.0
7140572  2005     12          22          4    733.0         715   1331.0
7140573  2005     12          22          4   1420.0        1418   1606.0
7140574  2005     12          22          4   2115.0        2105   2246.0
7140575  2005     12          22          4   1402.0        1410   1854.0
7140576  2005     12          22          4   1947.0        1946   2046.0
7140577  2005     12          22          4   1703.0        1700   1952.0
7140578  2005     12          22          4   1409.0        1357   2137.0
7140579  2005     12          22          4    712.0         715    851.0
7140580  2005     12          22          4   2336.0        2259    649.0
7140581  2005     12          22          4    831.0         830   1010.0
7140582  2005     12          22          4   1103.0        1104   1220.0
7140583  2005     12          22          4   1319.0        1115   1642.0
7140584  2005     12          22          4   1509.0        1510   1628.0
7140585  2005     12          22          4   1805.0        1805   1913.0
7140586  2005     12          22          4   2207.0        2159   2343.0
7140587  2005     12          22          4    758.0         759   1247.0
7140588  2005     12          22          4    930.0         930   1154.0
7140589  2005     12          22          4   1256.0        1300   1306.0
7140590  2005     12          22          4    800.0         800   1013.0
7140591  2005     12          22          4   1652.0        1655   1815.0
7140592  2005     12          22          4   1825.0        1825   1858.0
7140593  2005     12          22          4   1507.0        1511   1641.0
7140594  2005     12          22          4    924.0         925   1056.0
7140595  2005     12          22          4   1345.0        1344   1621.0

         CRSArrTime UniqueCarrier  FlightNum        ...         TaxiIn  \
0              1759            UA        541        ...              4
1              1759            UA        541        ...              6
2              1805            UA        541        ...              9
3              1759            UA        541        ...             11
4              2232            UA        542        ...              5
5              2232            UA        542        ...              3
6              2232            UA        542        ...              5
7              2232            UA        542        ...              0
8              2223            UA        542        ...              2
9              2223            UA        542        ...              4
10             2223            UA        542        ...              5
11             2223            UA        542        ...              3
12             2223            UA        542        ...              6
13             2223            UA        542        ...              6
14             2223            UA        542        ...              6
15             2223            UA        542        ...              9
16             2223            UA        542        ...              0
17             2223            UA        542        ...              3
18             2223            UA        542        ...              3
19             2223            UA        542        ...              6
20             2223            UA        542        ...              4
21             2223            UA        542        ...              4
22             2223            UA        542        ...              0
23             2223            UA        542        ...              0
24             2223            UA        542        ...              4
25             2223            UA        542        ...              0
26             2223            UA        542        ...              8
27             2223            UA        542        ...              7
28             2223            UA        542        ...              7
29             2223            UA        542        ...              6
...             ...           ...        ...        ...            ...
7140566        1744            DL        875        ...             11
7140567        1800            DL        877        ...              7
7140568        1110            DL        878        ...              6
7140569        1625            DL        879        ...              5
7140570        2009            DL        881        ...              7
7140571        2329            DL        881        ...              8
7140572        1300            DL        882        ...              8
7140573        1600            DL        882        ...              1
7140574        2252            DL        883        ...              4
7140575        1859            DL        884        ...             11
7140576        2049            DL        884        ...              7
7140577        1949            DL        885        ...              8
7140578        2125            DL        886        ...              4
7140579         916            DL        887        ...              8
7140580         613            DL        888        ...              9
7140581        1019            DL        889        ...             11
7140582        1218            DL        889        ...              4
7140583        1423            DL        891        ...              9
7140584        1634            DL        891        ...              4
7140585        1910            DL        893        ...             11
7140586        2333            DL        894        ...              5
7140587        1241            DL        895        ...              6
7140588        1208            DL        897        ...             11
7140589        1311            DL        897        ...              6
7140590        1044            DL        900        ...              7
7140591        1837            DL        901        ...              7
7140592        1848            DL        902        ...              7
7140593        1649            DL        903        ...              4
7140594        1111            DL        904        ...              4
7140595        1614            DL        905        ...              6

         TaxiOut  Cancelled  CancellationCode  Diverted  CarrierDelay  \
0             23          0               NaN         0             0
1             15          0               NaN         0             0
2             18          0               NaN         0             0
3             10          0               NaN         0             0
4             10          0               NaN         0             0
5             47          0               NaN         0            23
6             26          0               NaN         0            46
7              0          1                 B         0             0
8             15          0               NaN         0            16
9             56          0               NaN         0             0
10            15          0               NaN         0             0
11            24          0               NaN         0            17
12            32          0               NaN         0             0
13            43          0               NaN         0            18
14            11          0               NaN         0            13
15            20          0               NaN         0             0
16            13          0               NaN         1             0
17            11          0               NaN         0             0
18            31          0               NaN         0             0
19            17          0               NaN         0            10
20            18          0               NaN         0            32
21            19          0               NaN         0             0
22             0          1                 B         0             0
23             0          1                 A         0             0
24            19          0               NaN         0             0
25             0          1                 A         0             0
26            13          0               NaN         0             0
27            25          0               NaN         0             0
28            10          0               NaN         0             0
29            19          0               NaN         0             0
...          ...        ...               ...       ...           ...
7140566       21          0               NaN         0             0
7140567       26          0               NaN         0             0
7140568       18          0               NaN         0             0
7140569       14          0               NaN         0             0
7140570       16          0               NaN         0             0
7140571       22          0               NaN         0             0
7140572       14          0               NaN         0            18
7140573       14          0               NaN         0             0
7140574       14          0               NaN         0             0
7140575       12          0               NaN         0             0
7140576       17          0               NaN         0             0
7140577       12          0               NaN         0             0
7140578       20          0               NaN         0             0
7140579        8          0               NaN         0             0
7140580       15          0               NaN         0            16
7140581       19          0               NaN         0             0
7140582       18          0               NaN         0             0
7140583       13          0               NaN         0           124
7140584       12          0               NaN         0             0
7140585        8          0               NaN         0             0
7140586       23          0               NaN         0             0
7140587       14          0               NaN         0             0
7140588       33          0               NaN         0             0
7140589       22          0               NaN         0             0
7140590       11          0               NaN         0             0
7140591       15          0               NaN         0             0
7140592       32          0               NaN         0             0
7140593       29          0               NaN         0             0
7140594       19          0               NaN         0             0
7140595       27          0               NaN         0             0

        WeatherDelay NASDelay  SecurityDelay  LateAircraftDelay
0                  0        0              0                  0
1                  0        0              0                  0
2                  0        0              0                  0
3                  0        0              0                  0
4                  0        0              0                  0
5                  0        0              0                 74
6                  0        0              0                 39
7                  0        0              0                  0
8                  0        0              0                 89
9                  0        0              0                  0
10                 0        0              0                  0
11                 0        0              0                  0
12                 0        1              0                 35
13                 0       17              0                 80
14                 0        0              0                 93
15                 0        0              0                  0
16                 0        0              0                  0
17                 0        0              0                  0
18                 0        0              0                  0
19                 0       46              0                 29
20                 0        0              0                106
21                 0        0              0                  0
22                 0        0              0                  0
23                 0        0              0                  0
24                 0        0              0                  0
25                 0        0              0                  0
26                 0        0              0                  0
27                 0        0              0                  0
28                 0        0              0                  0
29                 0        0              0                  0
...              ...      ...            ...                ...
7140566            0        0              0                 19
7140567            0        0              0                  0
7140568            0        0              0                  0
7140569            0        0              0                  0
7140570            0        0              0                  0
7140571            0        0              0                  0
7140572            0       13              0                  0
7140573            0        0              0                  0
7140574            0        0              0                  0
7140575            0        0              0                  0
7140576            0        0              0                  0
7140577            0        0              0                  0
7140578            0        0              0                  0
7140579            0        0              0                  0
7140580            0        0              0                 20
7140581            0        0              0                  0
7140582            0        0              0                  0
7140583            0       15              0                  0
7140584            0        0              0                  0
7140585            0        0              0                  0
7140586            0        0              0                  0
7140587            0        0              0                  0
7140588            0        0              0                  0
7140589            0        0              0                  0
7140590            0        0              0                  0
7140591            0        0              0                  0
7140592            0        0              0                  0
7140593            0        0              0                  0
7140594            0        0              0                  0
7140595            0        0              0                  0

[7140596 rows x 29 columns]>

In [22]:
df3.columns['carrier']

array(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], dtype=object)